
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Base/_index.cshtml";
}
<div class="jumbotron">
    <h1>Fluffy Cafe for All</h1>
    <p>Enjoy our Fluffy yet huggable Kemono fursuit maid only for our dedicated customer, our High Quality cuisine would make your experience in Maid cafe better than before.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","outbond",null, null)" role="button">Show outbond</a></p>
</div>
<div class="why" style="text-align:center;padding-top:25px;padding-bottom:25px">
    <h2>Why choosing us?</h2>
    <h4>Here's some reason why we better than anyone else!</h4>
    <hr />
</div>
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="overview">
            <div class="icon" style="font-size:128px;text-align:center;">
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="caption">
                <p style="text-align:center">Our Restaurant is Rated 5 Stars by FoodAvisor, MyRestaurant.co, and JapaneseFurryCommunity. to ensure you got the best experience for your special Prom night or Gala Dinner.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="overview">
            <div class="icon" style="font-size:128px;text-align:center;">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </div>
            <div class="caption">
                <p style="text-align:center">Our restorant are in #1 position by TripAdvisor and Japanese Guide Book and most favourited restaurant by International Furries who visiting to Japan.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="overview">
            <div class="icon" style="font-size:128px;text-align:center;">
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="caption">
                <p style="text-align:center">Our Restaurant is Rated 5 Stars by FoodAvisor, MyRestaurant.co, and JapaneseFurryCommunity. to ensure you got the best experience for your special Prom night or Gala Dinner.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="overview">
            <div class="icon" style="font-size:128px;text-align:center;">
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="caption">
                <p style="text-align:center">Our Restaurant is Rated 5 Stars by FoodAvisor, MyRestaurant.co, and JapaneseFurryCommunity. to ensure you got the best experience for your special Prom night or Gala Dinner.</p>
            </div>
        </div>
    </div>
</div>
