
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Base/_index.cshtml";
}
<h2>outbond List</h2>
<h4>Enjoy our treats!</h4>
<div id="divoutbondListContainer">
    @Html.Action("outbondPartial", "outbond")
    
</div>   